<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/980c0915be.js" crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="header-left">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
      </div>
      <div class="header-right">
        <a class="navbar-brand" href="/new">新增餐廳</a>
        <a class="navbar-brand ml-3 " href="/">登入</a>
        <a class="navbar-brand ml-3 mr-5" href="/">註冊</a>
      </div>
    </nav>

    <div class="banner">
    </div>
  </header>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <!-- include javascript files here -->
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>